# Intellij
.idea/
*.iml

# Custom
.DS_Store
.tmp/
.venv
.venv/
.envrc
.env
.tmp

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
tfplan
tfplan.*

# Python
build/
dist/
*.egg-info/
*.pyc
__py
